html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #d1e9ff;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'NTR';
    color: #108DFF;
    background-image: url('../images/bg/Loginpage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.login {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 27px 3px 110px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 500px;
    height: 620px;
    max-width: 100%;
    min-height: 480px;
    margin: auto
}

.row {
    display: block;
    width: 100%;
}

#username,
#password {
    outline-style: none;
}

.column-left {
    float: left;
    margin-left: 14px
}

.column-right {
    float: right;
    margin-right: 14px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: bolder;
    margin: 5px 0 5px 0;
    text-shadow: 1px 1px #108DFF;
}

label {
    display: block;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    background-color: #ffffff;
    border-color: #108DFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 2px 0;
    width: 90%;
    outline-style: none;
}

.remember {
    font-size: 16px;
}

#cbx1 {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: 2px solid #108DFF;
    border-radius: 2px;
    cursor: pointer;
}

.column-right a {
    color: #108DFF;
    font-size: 16px;
    text-decoration: none;
    margin: 15px 0;
}

.column-right a:hover {
    color: #56af3c;
}

button {
    border-radius: 20px;
    border: 1px solid #108DFF;
    background-color: #108DFF;
    color: #FFFFFF;
    font-family: NTR;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin: 5px 5px 0;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #56af3c;
}

button.continue {
    width: 80%;
}

.mini-icon {
    display: block;
    margin-top: 20px;
    margin-left: 27.5%;
    width: 40%;
}

label {
    margin-left: 14px;
}

.row7 {
    background-color: #FFF;
    width: 80%;
    border-radius: 20px;
    padding: 2px 0px;
    transition: all 80ms ease-in;
}

.row7 a {
    color: #108DFF;
    text-decoration: none;
    font-family: NTR;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.row7:hover {
    color: #fff;
    background-color: lightgreen;
}

.row7:active {
    transform: scale(0.95);
}

div.button1,
div.button2 {
    display: block;
    width: 100%;
    margin: 9px 7px 3px;
}

@media screen and (max-width: 624px) {
    .login {
        width: 80vw;
    }
}